<h1 class="border-bottom">Flats</h1>

<ul class='task-list'>

  <% @flats.each do |flat|%>
    <li>
     <%= link_to flat.title, flat_path(:id) %>
    </li>
  <% end %>
</ul>
<%#
<div id='btn'><%=  link_to "Create a new reservation", new_reservation_path, class: "btn btn-success" %></div>

