<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <h1>Discover our homes around the world!</h1>
<!-- <p><%= link_to 'Create a reservation', new_flat_reservation_path(:id) %></p> -->

      <% if user_signed_in? %>
        <h2>

          Hello <%= current_user.name %>

        </h2>


        <p><%= link_to 'Create a flat', new_flat_path %></p>

      <% else %>

        <h2>

          Please, sign in first

        </h2>

      <% end %>
    </div>
  </div>
</div>
