<h1 class="border-bottom">Reservations</h1>

<ul class='task-list'>
  
  <% @reservations.each do |reservation|%>
    <li>
      <% if reservation.completed %>
        <i class="fa fa-check-square"></i>
      <% else %>
        <i class="fa fa-square"></i>
      <% end %>
      <%= link_to reservation.price, reservation_path(task) %>
      
    </li>
  <% end %>
</ul>
<%# 
<div id='btn'><%=  link_to "Create a new reservation", new_reservation_path, class: "btn btn-success" %></div> 