.search-bar-flats{
    width: 19%;
}

.search-bar-flats .btn-ghost{
    margin-left: 380px;
    margin-top: -64px;
}

.search-bar-flats h3 {
    font-weight: 300;
}

.flex-container{
    margin-left: 20px;
}